<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Cuentas</h3>
      </div>
      <div class="title_right">
        <div class="pull-right">
          <h3>Total: (<%= @monto_total %>)</h3>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12">
        <div class="x_panel">
          <div class="x_title">
            <div class="row">
              <form id="form_buscar" action="/facturacion/cuenta/index" class="form-horizontal form-label-left col-md-11">
                <div class="col-md-3">
                  <input type="text" name="fecha" id="fecha" class="form-control col-md-7" />
                </div>
                <div class="col-md-2">
                  <%= select_tag 'agrupador', options_for_select(@agrupador_cliente.collect {|a| [ a[:nombre], a[:id] ] }),
                                 { include_blank: true, class: 'form-control agrupador' } %>
                </div>
                <div class="col-md-3">
                  <input placeholder="Nombre Cliente ..." type="text" name="buscar" id="buscar" class="form-control col-md-7"/>
                </div>
                <div class="col-md-2">
                   <%= select_tag 'situacion', options_for_select(@situaciones.collect {|a| [ a[:nombre], a[:id] ] }),
                                 { include_blank: false, class: 'form-control' } %>
                </div>
                <div class="col-md-1">
                  <input type="submit" value="Buscar" class="btn btn-primary"/>
                </div>
                </form>
                <div class="col-md-1">
                  <button id="btn_cerrar_cuenta" class="btn btn-warning">Cerrar</button>
                </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="x_content" style="display: block;">
            <table id="cuentas" class="table table-striped table-hover">
              <thead>
              <tr>
                <th style="width: 50%">Cliente</th>
                <th style="width: 30%">Fecha</th>
                <th style="width: 15%">Plato Principal cantidad/monto</th>
                <th style="width: 15%">Extra cantidad/monto</th>
                <th style="width: 15%">Pedidos cantidad/monto</th>
                <th style="width: 15%" colspan="2">Acciones</th>
              </tr>
              </thead>
              <tbody>
              <% @cuentas.each do |c| %>
                  <tr>
                    <td>
                      <a href="/facturacion/cuenta/detalle?id=<%=c.id%>">
                      <%= c.rel_cliente.nombre_completo  %>
                      </a>
                    </td>
                    <td><%= c.fecha_inicio %> - <%= c.fecha_fin unless c.fecha_fin.nil? %></td>
                    <td>
                      <%= c.detalle_cuenta[:cantidad_plato_principal]  %> / <%= c.detalle_cuenta[:monto_plato_principal]  %>
                    </td>
                    <td>
                      <%= c.detalle_cuenta[:cantidad_extras]  %> / <%= c.detalle_cuenta[:monto_extra]  %>
                    </td>
                    <td>
                      <%= c.detalle_cuenta[:cantidad_pedido]  %> / <%= c.detalle_cuenta[:monto_total_cuenta]  %>
                    </td>
                    <td>
                        <button id="btn-<%= c. id %>" class="btn btn-<%= c.es_activa? ? 'warning' : 'danger' %> btn-xs" onclick="abrir_cerrar_cuenta(<%= c. id %>)"><%= c.es_activa? ? 'Cerrar' : 'Abrir' %></button>
                    </td>
                    <td>
                      <%= form_tag('/facturacion/cuenta/imprimir_cuenta', target: '_blank', method: 'post', id: 'frm_imprimir_cuenta')do %>
                          <input type="hidden" name="id" value="<%=c.id%>"/>
                          <input type="submit" value="Imprimir" class="btn btn-primary btn-xs"/>
                      <% end %>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= form_tag('/facturacion/cuenta/cerrar_cuentas', method: 'post', id: 'frm_cerrar_cuenta')do %>
 <input type="hidden" id="frm_cerrar_cuenta_fecha" name="fecha"> 
 <input type="hidden" id="frm_cerrar_cuenta_agrupador" name="agrupador">
<% end %>
<script>
  $(document).ready(function() {
    $('.agrupador').val('<%=@agrupador_id%>');
    $('#situacion').val('<%=@situacion%>');
    $('#fecha').val('<%=@fecha%>');

    $('#fecha').daterangepicker({
      calender_style: "picker_4",
      format: 'YYYY-MM-DD',
      showDropdowns: true
    });

    $('#btn_cerrar_cuenta').click(function(){
      if($('#fecha').val()==''){
        new PNotify({
              title: 'Error',
              text: 'Seleccione una fecha',
              type: 'error'
          });
        return false;
      }
      if($('#agrupador').val()==''){
        new PNotify({
              title: 'Error',
              text: 'Seleccione un agrupador',
              type: 'error'
          });
        return false;
      }
      $('#frm_cerrar_cuenta_fecha').val($('#fecha').val());
      $('#frm_cerrar_cuenta_agrupador').val($('#agrupador').val());
      $('#frm_cerrar_cuenta').submit();
    });

  });

  function abrir_cerrar_cuenta(id){
    $.post('/facturacion/cuenta/abrir_cerrar_cuenta',{ id: id }, function(data){
      if (data.result) {
        if(data.situacion == 0){
          $("#btn-" + id).removeClass('btn-danger');
          $("#btn-" + id).addClass('btn-warning');
          $("#btn-" + id).html('Cerrar');
        }
        else {
          $("#btn-" + id).removeClass('btn-warning');
          $("#btn-" + id).addClass('btn-danger');
          $("#btn-" + id).html('Abrir');
        }
        new PNotify({
            title: 'Exito',
            text: data.message,
            type: 'success'
        });
      }
      else{
          new PNotify({
              title: 'Error',
              text: data.message,
              type: 'error'
          });
        }
    });
  }

</script>