<%= form_for(@ventas_agrupador_cliente) do |f| %>
  <% if @ventas_agrupador_cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ventas_agrupador_cliente.errors.count, "error") %> prohibited this ventas_agrupador_cliente from being saved:</h2>
      <ul>
      <% @ventas_agrupador_cliente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<div class="form-group">
  <label for="inventario_producto_primer_nombre" class="control-label col-md-3 col-sm-3 col-xs-12">
    Nombre
    <span class="required">*</span>
  </label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <%= f.text_field :nombre, {class: 'form-control col-md-7 col-xs-12', required: 'required'} %>
  </div>
</div>
<div class="form-group">
  <%= f.label :descripcion, 'Descripción', {class: 'control-label col-md-3 col-sm-3 col-xs-12'} %>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <%= f.text_area :descripcion, {class: 'form-control col-md-7 col-xs-12'} %>
  </div>
</div>
<div class="form-group">
  <%= f.label :pasivo, 'Pasivo', {class: 'control-label col-md-3 col-sm-3 col-xs-12'} %>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <%= f.check_box :pasivo, {class: 'form-control col-md-7 col-xs-12'} %>
  </div>
</div>
